<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992479177055-qdvpeb7qlnskmceslhp450imqm0t37so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992479177055-qdvpeb7qlnskmceslhp450imqm0t37so</string>
	<key>API_KEY</key>
	<string>AIzaSyB8BPcduP6FvP0lcWA0Rze5w1ghGNhUzQU</string>
	<key>GCM_SENDER_ID</key>
	<string>992479177055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infiny.PracticeProject</string>
	<key>PROJECT_ID</key>
	<string>fir-trial-da467</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-trial-da467.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992479177055:ios:716b5cdd70a0935f796eea</string>
	<key>DATABASE_URL</key>
	<string>https://fir-trial-da467.firebaseio.com</string>
</dict>
</plist>